
<div class="grid-container">
    <div class="item1">   
        <!-- <button class = "back-btn" [routerLink]="'/'">Back</button> -->
        <img class = "product-image" src = "{{product.productImage}}" > 
    </div>
    
    <div class="item2"><p> {{product.productName}}</p></div>    
    <div class="item3"><p> {{product.productCost}}</p></div>
    <div class="item4"><p> {{product.productDescription}}</p></div>
    <div class="item5"><button class="add-to-cart-btn" [routerLink]=" '/cart-add/:id' ">Add to Cart </button></div>

</div>
