<!--1-> 2-> 3-->
<mat-grid-list cols="2">
    <mat-grid-tile>
        <div class="step-tracker">
            <div class="circle">1</div>
            <span>&#10230;</span>
            <div class="circle">2</div>
            <span>&#10230;</span>
            <div class="circle">3</div>
        </div>
        <ng-container [ngSwitch]="true">
            <app-cart (nextStep)="goToNextStep($event)" *ngSwitchCase="currentStep === 1"></app-cart>
            <app-billing (nextStep)="goToNextStep($event)" *ngSwitchCase="currentStep === 2"></app-billing>
            <app-shipping *ngSwitchCase="currentStep === 3"></app-shipping>
        </ng-container>
    </mat-grid-tile>
    <mat-grid-tile>
        <h3>Total:</h3>
        <p>Subtotal: ${{subTotal}}</p>
        <p>Shipping: $0.00</p>
        <hr>
        <h4>${{subTotal + shippingCost}}</h4>
    </mat-grid-tile>
</mat-grid-list>