<!--1-> 2-> 3-->
<div class="step-tracker">
    <div class="circle" [ngClass]="currentStep === 1 ? 'current-step': 'white-step'">1</div>
    <span><p class="arrow">&#10230;</p></span>
    <div class="circle" [ngClass]="currentStep === 2 ? 'current-step': 'white-step'">2</div>
    <span><p class="arrow">&#10230;</p></span>
    <div class="circle" [ngClass]="currentStep === 3 ? 'current-step': 'white-step'">3</div>
</div>
<div class="checkout-container">
    <ng-container [ngSwitch]="true">
        <app-cart (nextStep)="goToNextStep($event)" *ngSwitchCase="currentStep === 1" [cart]="cart"></app-cart>
        <app-billing (nextStep)="goToNextStep($event)" *ngSwitchCase="currentStep === 2"></app-billing>
        <app-shipping *ngSwitchCase="currentStep === 3"></app-shipping>
    </ng-container>
</div>
    <div class="price-total">
        <h1>Total:</h1>
        <h3>Subtotal: ${{(subTotal).toFixed(2)}}</h3>
        <h3>Shipping: ${{(shippingCost).toFixed(2)}}</h3>
        <hr>
        <h2>${{(subTotal + shippingCost).toFixed(2)}}</h2>
    </div>
    <ng-template #noTotal>
      <div class="price-total">
        <h1>Total:</h1>
            <h3>Subtotal:   $0.00</h3>
            <h3>Shipping: + $0.00</h3>
            <hr>
            <h2>
                $0.00
            </h2>
      </div>      
    </ng-template>