<ng-container *ngIf="cart.length; else emptyCart">
    <div *ngFor="let product of cart">
        <div class="col">
            <img [src]="product.image" alt="product-image" class="product-image">
        </div>
        <div class="col product-info">
            <h2>{{product.name}}</h2>
            <h3>${{(product.cost).toFixed(2)}}</h3>
        </div>
        <div class="col">
            <a href="#">
                <mat-icon>delete</mat-icon>
            </a>
        </div>
    </div>
    <a class="clear-cart" href="#" (click)="clearCart()">Clear Cart<mat-icon>remove_shopping_cart</mat-icon></a>
    <a class="next" (click)="proceedToBilling()">Proceed to Payment<mat-icon>payments</mat-icon></a>
</ng-container>
<ng-template #emptyCart>
    <div>
        <h2>Your cart is currently empty.</h2>
        <a class="next" href="#" routerLink="">Browse Catalog</a>
    </div>
</ng-template>
