<div *ngFor="let product of cart">
    <mat-grid-list cols="3">
        <mat-grid-tile [rowspan]="2">
            <img [src]="product.image" alt="product-image">
        </mat-grid-tile>
        <mat-grid-tile [rowspan]="1">
            <p>{{product.name}}</p>
        </mat-grid-tile>
        <mat-grid-tile [rowspan]="1">
            <p>{{product.cost}}</p>
        </mat-grid-tile>
        <mat-grid-tile [rowspan]="2">
            <a href="#">
                <mat-icon>delete</mat-icon>
            </a>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<a class="clear-cart" href="#" (click)="clearCart()">Clear Cart<mat-icon>remove_shopping_cart</mat-icon></a>
<a class="next" (click)="proceedToBilling()">Proceed to Payment<mat-icon>payments</mat-icon></a>