<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>SpaceEco</h2>
    </mat-card-title>
  </mat-card-header>
  <img
    mat-card-md-image
    src="../../../assets/Images/saturn-svgrepo-com.svg"
    alt=""
  />
  <mat-card-content>
    <form action="">
      <mat-form-field>
        <input
          matInput
          type="text"
          name="firstname"
          id="firstname"
          placeholder="First Name"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="text"
          name="lastname"
          id="lastname"
          placeholder="Last Name"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="text"
          name="username"
          id="username"
          placeholder="Username"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="text"
          name="email"
          id="email"
          placeholder="Email"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          name="password"
          id="password"
          placeholder="Password"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Select role</mat-label>
        <mat-select>
          <mat-option *ngFor="let role of roles" [value]="role.value">
            {{ role.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-raised-button type="submit">Register</button>
      </div>
      <div>
        <a routerLink="/login">Already have an account? Login</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>
