<div>
    <div>
        <h3>Billing</h3>
        <form id="billingForm billingDetails" [formGroup]="billingForm">
            <h4>Payment Information</h4>
            <div>
                <div class="form-section">
                    <label for="name"><mat-icon>person</mat-icon> Name</label>
                    <input type="text" id="name" name="fullName" placeholder="Full Name on card">
    
                    <label for="cardType"><mat-icon>credit_card</mat-icon> Card Type</label>
                    <input type="text" id="cardType" name="cardType" placeholder="Card Type">    
                </div>
            <div class="form-section">
                <label for="cardNumber"><mat-icon>credit_card</mat-icon> Card Number</label>
                <input type="text" id="cardNumber" name="cardNumber" placeholder="Credit Card Number">

                <label for="securityNumber">CVV</label>
                <input type="password" id="securityNumber" name="securityNumber" placeholder="Card CVV Number">
            </div>  
            </div>
        </form>
        <form id="billingAddressForm" [formGroup]="billingAddressForm">
            <h4>Billing Address</h4>
            <div>
                <div class="form-section">
                    <label for="addressLineOne">Address Line One</label>
                    <input type="text" id="addressLineOne" name="addressLineOne" placeholder="Street Address">
                </div>
                
                <div class="form-section">
                    <label for="addressLineTwo">Address Line Two</label>
                    <input type="text" id="addressLineTwo" name="addressLineTwo" placeholder="Addtional address information">    
                </div>
                <div class="form-section">
                    <label for="city">City</label>
                    <input type="text" id="city" name="city" placeholder="Enter City">

                    <label for="state">State</label>
                    <input type="text" id="state" name="state" placeholder="Enter State">
                </div>
                <div class="form-section">
                    <label for="country">Country</label>
                    <input type="text" id="country" name="country" placeholder="Enter Country">
                
                    <label for="zip">Zipcode/Postal Code</label>
                    <input type="text" id="zip" name="zip" placeholder="Enter Zipcode/Postal Code">

                </div>
    
                <div class="form-section">
    
                    <label for="planet">Planet</label>
                    <input type="text" id="planet" name="planet" placeholder="Enter Planet/Galactic Coordinates">

                    <label for="solarSystem">Solar System</label>
                    <input type="text" id="solarSystem" name="solarSystem" placeholder="Enter Solar System">
                </div>
            </div>
        </form>
    </div>
    <a class="nextStep" (click)="proceedToShipping()">Proceed to Shipping<mat-icon>local_shipping</mat-icon></a>
</div>