<div>
    <h3>Shipping Information</h3>

    <div>
        <form id="shippingAddressForm" [formGroup]="shippingAddressForm">
            <h4>Shippings Address</h4>
            <div>
                <div class="form-section">
                    <label for="addressLineOne">Address Line One</label>
                    <input type="text" id="addressLineOne" name="addressLineOne" placeholder="Street Address">    
                </div>
               
                <div class="form-section">
                    <label for="addressLineTwo">Address Line Two</label>
                    <input type="text" id="addressLineTwo" name="addressLineTwo" placeholder="Addtional address information">    
                </div>
             
                <div class="form-section">
                    <label for="city">City</label>
                    <input type="text" id="city" name="city" placeholder="Enter City">
    
                    <label for="state">State</label>
                    <input type="text" id="state" name="state" placeholder="Enter State">    
                </div>
            
                <div class="form-section">
                    <label for="country">Country</label>
                    <input type="text" id="country" name="country" placeholder="Enter Country">
    
                    <label for="zip">Zipcode/Postal Code</label>
                    <input type="text" id="zip" name="zip" placeholder="Enter Zipcode/Postal Code">    
                </div>
              
                <div class="form-section">
                    <label for="planet">Planet</label>
                <input type="text" id="planet" name="planet" placeholder="Enter Planet/Galactic Coordinates">

                <label for="solarSystem">Solar System</label>
                <input type="text" id="solarSystem" name="solarSystem" placeholder="Enter Solar System">
                </div>
                
            </div>
        </form>
    </div>
    <a class="nextStep">Checkout<mat-icon>shopping_cart_checkout</mat-icon></a>
</div>