.rows{
    display:flex;
    flex-wrap: wrap;
    background-color: rgb(241, 215, 126);
    justify-content: space-between;
}

.productList{
    flex: 25%;
    margin-left: 10px;
    margin-right: 10px;
}

.product-image:hover {
    cursor: pointer;
}

.product-name:hover{
    cursor:pointer;
}


.rows {
    display: flex;
}

.product-name {
    margin-left: 3cm;
    text-shadow: 12px;
    font-size: larger;
    font-weight: 700;
}

.product-cost {
    margin-left: 3cm;
}

.product-image {
    margin-top: 50px;
    padding-inline-start: 60px;
    max-width: 200px;
    max-height: 200px;
}