<div class = "rows">
    <div  *ngFor = "let product of products | async; let indexOfElement = index" class = "productList">
        <div class = "rows2">
            <img class = "product-image" (click)="selectProduct(product.productId)" src = "{{product.productImage}}" >
            <p  class = "product-name" (click)="selectProduct(product.productId)">{{product.productName}}</p>
            <p class="product-cost">{{product.productCost}}</p>
        <!-- <button class="add-to-cart-btn" [routerLink]=" ['/products', products.productId]"> Add to Cart </button>   -->
        </div>
    </div>
</div>
